#region_tooltip {
  padding: 1px;
  color: #555;
  z-index: 999;
  height: 24px;
}

#ol_loading {
  position: absolute;
  left: 45%;
  top: 30%;
  padding: 20px;
  border: 1px solid #777;
  z-index: 999;
  display: none;
  background-color: #9cc;
  color: #444;
  font-weight: bold;
}

#curr_country_ctrl {
  padding-left: 10px;
  display: none;
  cursor: pointer;
}

#curr_nuts_ctrl {
  padding-left: 10px;
  display: none;
  cursor: pointer;
}

.layersDiv {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  border-left: 2px solid #777;
}
